.order-form
  .offer
    Акция действует до субботы, 21 сентября.
    .small
      Оставьте заявку, и мы с вами свяжемся!
  %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
  %input{type: :text, name: :phone, placeholder: 'Введите ваш номер телефона'}
  %button.send-order
    Отправить заявку