%section
  .wrapper
    .section-title
      %h2 Как мы создаем уникальные страницы захвата?
    %p.section-description
      Очень часто в портфолио наших коллег можно увидеть работы, которые отличаются только цветами и картинками.
      Маркетинговая часть, офферы, триггеры переходят из проекты в проект, абсолютно не изменяясь. Нам такой подход не кажется
      верным.

    .feature
      %h3
        Анализ конкурентов
      %p
        Просматриваем всех ваших конкурентов в Яндекс Директе и в топ-20 поисковой выдачи. Анализируем. Прозваниваем 10
        наиболее интересных конкурентов, с целью узнать как они продают товар / услугу, на чем акцентируют внимание клиента.

    .feature
      %h3
        Собираем данные
      %p
        Мы полностью погружаемся в ваш товар / услугу, общаемся с экспертом в этой области, по возможности пользуемся вашим товаром / услугой.
        Читаем различные форумы, социальные ресурсы, где ваши потенциальные клиенты обсуждают ваш товар / услугу.

    .feature.last
      %h3
        Делаем предположения
      %p
        По итогам сбора данных, мы накидываем огромное количество предположений и догадок о факторах, которые влияют на конверсию
        в вашем бизнесе. Обсуждаем их с вами, отбираем лучшие и используем их при разработке прототипа лэндинга.