%section
  .wrapper
    .about-video
      .expert
        .expert-header
          Мнение эксперта
        .expert-dashkiev
        .expert-name
          Михаил Дашкиев
        .expert-about
          Самый оплачиваемый бизнес-тренер в России.
          %br
          Совладелец тренинговой компании Бизнес Молодость

      .action
        .action-header
          Оставьте заявку
        .video-action-form
          %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
          %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
          %button.send-order
            Оставить заявку

        .action-about
          * Акция действует до 24 января 2013 года.