%section
  .wrapper
    .section-title
      %h2 Зачем нужен прототип?
    %p.section-description
      По сути, создавая прототип мы бесплатно дарим вам структуру лэндинга от людей,
      %br
      руками которых было сделано более 200 эффективных страниц захвата.

    .feature
      %h3
        Экономия времени
      %p
        Разрабатывая прототип, мы снимаем с вас заботу о написании технического задания, вы не тратите время
        на заполнение брифов и анкет, тем самым экономите свое время.

    .feature
      %h3
        Уникальная структура
      %p
        Мы проработаем уникальную структуру страницы захвата, идеально подходящую именно для вашей сферы бизнеса.
        Такая структура позволит добиться максимальной конверсии.


    .feature.last
      %h3
        Четкое понимание
      %p
        Не последний плюс прототипа в том, что еще до рисования дизайна, вы уже будете понимать, как будет выглядеть
        ваш лэндинг.