%section
  .wrapper
    .section-title
      %h2
        Мы делаем страницы захвата

    %p.section-description
      А также оказываем полный спектр сопутствующих услуг, необходимых для того,
      %br
      чтобы обеспечить вас мощным потоком новых клиентов.


    .feature
      %h3
        Страницы захвата

      %p
        Продумываем прототип, рисуем продающий дизайн, программируем все фишки и размещаем на своем сервере.


    .feature
      %h3
        Реклама
      %p
        Яндекс Директ, Google Adwords, VK, Одноклассники, Мой Мир, Mamba, баннерая и тизерная реклама.


    .feature.last
      %h3
        Маркетинг
      %p
        Для каждого из клиентов мы проводим аудит рынка, анализируем конкурентов, чтобы помочь сформировать
        самое мощное предложение.