%section.last-offer
  .wrapper
    .section-title
      %h2
        Заказав страницу захвата на этой неделе, вы бесплатно получите
        продающий видеоролик!


-#%section.section-order-form
  .wrapper
    %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
    %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
    %button.send-order
      Оставить заявку