%section.last-offer
  .wrapper
    .section-title
      %h2
        Оставьте заявку и закажите нашего менеджера
        %br
        к себе в офис совершенно бесплатно ;)


%section.section-order-form
  .wrapper{tag: 'pirogi'}
    %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
    %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
    %button.send-order
      Оставить заявку
    .very-small
      менеджер приедет с пирогами да блинами