%section.last-offer
  .wrapper
    .section-title
      %h2
        Оставьте заявку и мы бесплатно сделаем прототип вашей страницы захвата.


%section.section-order-form
  .wrapper
    %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
    %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
    %button.send-order
      Оставить заявку
    .very-small
      Мы гарантируем конфиденциальность Ваших данных. Ваши контакты не будут передаваться третьим лицам