.modal-overlay
.modal-dialog
  .header
    Оставьте заявку и мы бесплатно нарисуем вам прототип
  .body

    .left


    .right
      .form{type: 'modal-form', tag: 'sometag'}
        %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
        %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
        %button.send-order
          Хочу узнать

.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!