%section.last-offer
  .wrapper
    .section-title{style: 'color: #fff;'}
      %h1
        Вы не из Москвы?
      %h3{style: 'padding-top: 15px; letter-spacing: 1px;'}
        Оставьте заявку и получите специальную цену на лэндинг



%section.section-order-form{style: 'background: #fff; padding-top: 50px;'}
  .wrapper
    %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
    %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
    %button.send-order
      Оставить заявку
    .very-small
      акция действует до 31 января включительно