.video-modal-bg
.video-modal



%script#dashkiev-video{type: 'template'}
  %iframe{src: '//www.youtube.com/embed/3JDZF-nHdlQ?rel=0&enablejsapi=1&autoplay=1',
                          width: 853,
                          height: 480, frameborder: 0}