.wrapper.padding2
  .title
    Узнайте в каком случае
    = @first_word
    %br
    за
    %span.light 3 000 рублей
    будет эффективнее
    = @last_word
    за 30 000 рублей.

.wrapper.padding1
  .phone
    8 (495) 792 89 59
    -#.small Работаем по всей России


.wrapper.padding1
  .order-button
    Хочу узнать прямо сейчас



.modal-overlay
.modal-dialog
  .header
    Не оставив свои контактные данные, вы никогда об этом не узнаете.
  .body
    %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
    %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
    %button#send-order
      Хочу узнать

.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!