-#= render partial: 'second_version/modal'
#intro
  .wrapper.padding8
    .title

      Какой должна быть страница захвата
      %br
      чтобы ее конверсия составляла
      %span.light 20%
      ?


  .wrapper
    .order-button#first-button
      Хочу узнать прямо сейчас


%section
  .wrapper
    .section-title
      %h2
        Мы делаем страницы захвата

    %p.section-description
      А также оказываем полный спектр сопутствующих услуг, необходимых для того,
      %br
      чтобы обеспечить вас мощным потоком новых клиентов.


    .feature
      %h3
        Страницы захвата

      %p
        Продумываем прототип, рисуем продающий дизайн, программируем все фишки и размещаем на своем сервере.


    .feature
      %h3
        Реклама
      %p
        Яндекс Директ, Google Adwords, VK, Одноклассники, Мой Мир, Mamba, баннерая и тизерная реклама.


    .feature.last
      %h3
        Маркетинг
      %p
        Для каждого из клиентов мы проводим аудит рынка, анализируем конкурентов, чтобы помочь сформировать
        самое мощное предложение.




%section.section-cases
  .wrapper
    .section-title
      %h2
        Наши кейсы

    %p.section-description
      Главный результат нашей работы - высокая эффективность страниц захвата.
      %br
      Мы гордимся нашими клиентами и результатами работы с ними.


    .features
      .feature.feature-case.active{target: 'case-marketube'}
        %h3
          Marketube.ru

        %p
          Наша дочерняя компания, занимающаяся съемками продающих видеороликов.
          Конверсия по итогам
          %br
          5 000 переходов - 11%


      .feature.feature-case.last{target: 'case-tastell'}
        %h3
          Tastell.ru

        %p
          Одна из 25 имиджевых страниц захвата, разработанных для магазина нишевой парфюмерии.
          По итогам трех месяцев, конверсия страницы составила 14,5%
    .feature-images
      .feature-image.active{rel: 'case-marketube'}
        = image_tag 'case-marketube.png'

      .feature-image{rel: 'case-tastell'}
        = image_tag 'case1.png'


%section
  .section-title
    %h2
      Всё, что вам нужно.

  %p.section-description
    Мы выполним всю работу под ключ.
    %br
    Вам останется лишь получать новых клиентов.


  .wrapper

    .features
      .feature.center
        .icon.image
        %h3 Страница захвата
        %p
          Мы составим техническое задание, изготовим прототип, согласуем с вами.
          Затем нарисуем крутой дизайн, сверстаем и запрограммируем его.

      .feature.center
        .icon.www
        %h3 Доменное имя
        %p
          Мы подберем для вашей страницы подходящее доменное имя, купим его и прикрепим к хостингу.

      .feature.last.center
        .icon.server
        %h3 Хостинг
        %p
          Готовую страницы мы размещаем на нашем собственном хостинге. Он состоит из трех мощных серверов, никогда
          не глючит и не ломается.

      .feature.center
        .icon.split
        %h3 А / B тестирование
        %p
          Мы можем провести серию из неограниченного количества сплит-тестов и в результате выявить наиболее эффективную
          версию страницы захвата.

      .feature.center
        .icon.stat
        %h3 Системы аналитики
        %p
          Мы подключим к вашей странице захвата Яндекс Метрику и правильно настроим цели. Это необходимо для анализа
          эффективности тех или иных источников посетителей.

      .feature.last.center
        .icon.buble
        %h3 Бесплатная поддержка
        %p
          В течение следующего года мы будем бесплатно поддерживать работоспособность вашей страницы захвата и своевременно
          обновлять необходимую информацию.




-#%section.portfolio
  .section-title
    %h2
      Еще несколько наших работ

  %p.section-description
    Мы сделали уже более 50 страниц захвата.

  .wrapper
    .macbook
      .slider
        .slide


%section.team
  .section-title
    %h2 Наша команда
  %p.section-description
    Абардача - это 12 профессионалов в различных областях, объединенные одной целью:
    %br
    привлечь в ваш бизнес как можно больше новых клиентов.


  .wrapper
    = render partial: 'second_version/team'

%section.last-offer
  .wrapper
    .section-title
      %h2
        Оставьте заявку и мы бесплатно сделаем прототип вашей страницы захвата.


%section.section-order-form
  .wrapper
    %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
    %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
    %button.send-order
      Оставить заявку

%section
  .wrapper
    .section-title
      %h2 Зачем нужен прототип?
    %p.section-description
      По сути, создавая прототип мы бесплатно дарим вам структуру лэндинга от людей,
      %br
      руками которых было сделано более 200 эффективных страниц захвата.

    .feature
      %h3
        Экономия времени
      %p
        Разрабатывая прототип, мы снимаем с вас заботу о написании технического задания, вы не тратите время
        на заполнение брифов и анкет, тем самым экономите свое время.

    .feature
      %h3
        Уникальная структура
      %p
        Мы проработаем уникальную структуру страницы захвата, идеально подходящую именно для вашей сферы бизнеса.
        Такая структура позволит добиться максимальной конверсии.


    .feature.last
      %h3
        Четкое понимание
      %p
        Не последний плюс прототипа в том, что еще до рисования дизайна, вы уже будете понимать, как будет выглядеть
        ваш лэндинг.


%section{style: 'background: #eee;'}
  .section-title
    %h2 Как нас найти?
  %p.section-description
    Наш офис находится по адресу
    %br
    Москва, Казарменный переулок, дом 3, офис 11.


#map

%section.section-footer
  .wrapper
    .abardacha
      Абардача
    .phone
      8 (495) 792 89 59



.modal-overlay
.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!




