%section.intro
  .wrapper
    .hello
      А давайте выясним, какой должна быть
      %br
      идеальная продающая страница?

%section.about
  .wrapper
    .about
      .imac
      .content
        %h2
          Отличный дизайн
        %h6
          Продающая страница должна быть симпатичной, стильной и удобной.
        %p
          В первую очередь продающая страница должна быть опрятной.
          Аляпистые надписи, красные стрелки и огромные желтые кнопки "Закажи прямо сейчас" - моветон.
          Вместо этого стоит использовать притяные глазу цвета, профессиональные фотографии или рисунки.
          Симпатичная продающая страница вызывает доверие у посетителя и повышает конверсию.


%section.content-and-icons
  .wrapper
    .copyrighting
      %h1 Копирайтинг и типографика


      .reason
        %h6
          Предложение должно быть написано грамотным русским языком.

        %p
          Продающий текст, написанный без орфографических и пунктуационных ошибок - это минимум, на который стоит ровняться.
          В идеале, все тексты на странице должны быть написаны в одном стиле.


      .reason
        %h6
          Тексты на продающей странице должны быть правильно оформлены.
        %p
          Правильно подобранный шрифт, его размер, толщина и цвет, расстояние между буквами в слове и между строчкамм
          в абзаце - все эти факторы влияют на восприятие текста посетителем сайта.


%section.video
  .wrapper
    .video-block
      %iframe{src: 'http://player.vimeo.com/video/38017188?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff',
              width: 960,
              height: 540, frameborder: 0}

    %h1
      Видео на продающей странице
    %h6
      Качественное видео на продающей странице - это бомба.
      Видеобзор товара или короткий сюжет об услуге закроет ряд вопросов у вашего клиента и поднимет
      уровень доверия к вашему предложению.


%section.responsive
  .wrapper
    .responsive-block
      .content
        %h2
          Адаптивность
        %h6
          Дизайн, адаптированный под мобильные устройства повышает конверсию.
        %p
          Все больше и больше людей пользуются интернетом с мобильных устройств.
          Оптимизированная для просмотра с мобильных устройств продающая страница имеет более высокую конверсию,
          так как захватывает еще и "мобильных" пользователей.
      .ipad


%section.portfolio
  .wrapper
    .result
      .mackbook
      .content
        %h1
          Уникальность
        %h6
          Идеальная продающая страница - это результат глубокого анализа вашего бизнеса.
        %p
          В каждом бизнесе существуют свои подводные камни, особенности и продающие триггеры.
          Для создания идеальной продающей страницы необходимо учесть их все.
          Именно поэтому шаблонные LP неэффективны. Идеальная продающая страница - продукт ручной сборки.



%section.order
  .wrapper
    .order-block
      .title Поговорим о вашей идеальной продающей странице лично?


      .order-button
        Заказать звонок


.modal-overlay
.modal-dialog
  .header
    Заказать звонок
  .body
    %form{action: '#'}
      %input{type: :text, name: :username, placeholder: 'Ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Ваш телефон'}
      %button#send-order
        Заказать звонок

.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!